apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: berget-web
resources:
  - ../../base
patchesStrategicMerge:
  - ingress-patch.yaml
images:
  - name: ghcr.io/berget-ai/landing-page
    newTag: '1.3.104-rc.2' # {"$imagepolicy": "flux-system:landingpage-stage:tag"}
labels:
  - pairs:
      environment: stage
